
<h1>Log in</h1>

<form action="<%= session_url %>" method='post'>
  <%= auth_token %>
  <label>
    <input type='text' name='user[user_name]' placeholder="Enter username">
  </label>

  <label>
    <input type='password' name='user[password]'>
  </label>
  <input type='submit'>
</form>

<%= button_to 'Sign up', new_user_url, method: :get%>


<% content_for :footer do %>
  <p>Hello from the login page</p>
<% end %>
